* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'sans-serif';
}

.slidecontainer {
  width: 100%;
}

.time1 {
  grid-column: 2/3;
  margin-bottom: 20%;
  justify-self: start;
}

.time2 {
  grid-column: 3/4;
  margin-left: 15%;
  justify-self: left;
}

.time3 {
  grid-column: 4/5;
  margin-left: 35%;
  justify-self: left;
}

.time4 {
  grid-column: 5/6;
  margin-left: 60%;
  justify-self: left;
}

.time5 {
  grid-column: 6/7;
  /*margin-left: 50%;*/
  justify-self: right;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 0.5%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0px 0px 4px #000000;
  box-shadow: 0px 1px 2px #000000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-column-gap: 1%;
  grid-row-gap: 0%;
}

a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 20px;
  grid-column: 2/3;
  margin-bottom: 50%;
}

.menu {
  grid-column: 3/7;
  justify-self: end;
  align-self: start;
}

a {
  margin-left: 25px;
}

.location {
  grid-column: 2/4;
}

.timeinput {
  grid-column: 5/7;
  justify-self: end;
}

.icon {
  opacity: 0.2;
  grid-column: 1/2;
  align-self: center;
  justify-self: end;
}

.slider {
  grid-column: 2/7;
  margin-top: 0.5%;
}

.dateinput {
  grid-column: 7/8;
  align-self: end;
  padding-bottom: 7px;
}


h2 {
  font-size: 40px;
}

.addbtn {
  justify-self: start;
  align-self: center;
  grid-column: 2/4;
}

.plus {
  opacity: 0.5;
  grid-column: 1/2;
  justify-self: end;
  font-weight: 800;
}

h3 {
  font-size: 40px;
  font-weight: 400;
}

.extra {
  font-size: 14px;
  grid-column: 7/8;
  align-self: start;
}

.highlight {
  font-weight: 800;
  color: #E60202;
}

.addbtn input[type='text'] {
  font-size: 40px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
}

.timeinput input[type='text'] {
  font-size: 40px;
  font-weight: 400;
}

.dateinput input[type='text'], input[type='date'] {
  font-size: 14px; 
}

input[type='text'], input[type='date'] {
  border: 0.5px solid #ffffff;
  outline: none;
}

input::-webkit-outer-spin-button, /* Removes arrows */
input::-webkit-inner-spin-button, /* Removes arrows */
input::-webkit-clear-button { /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}

input[type='text']:hover, input[type='date']:hover {
  background: #F0F0F0;
  border: 0.5px solid #e5e5e5;
  border-radius: 4px;
  cursor: text;
}

.ui-autocomplete {
  max-height: 20%;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}